ul.member-list {
	padding: 0px;
	li {
		list-style: none;
		margin-bottom: 10px;
	}
}

.member-list--board {

	li.columns {
		&:last-child {
			float: left !important;
		}
	}
}

.board-member__name {
	margin-bottom: 0px;
}

.board-member__job-title {
	margin: 0px;
}
.board-member__organization {
	margin: 0px;
}

.staff-member__name {
	color: $pebble;
	font-size: 16px;
}

.staff-member__portrait {

	img {
		width: 100%;

	}
}