/* ==========================================================================
   Page:  Legal Services - Cases Served
   ========================================================================== */

.case-highlight {
	border-top: 1px solid $charcoal;
	padding: 30px 15px;
}

.case__summary {
	margin-bottom: 5px;
}