/* ==========================================================================
   Page:  News Landing
   ========================================================================== */

.heading--featured-stories-label {
	margin-bottom: 10px;
}
.heading--featured-news {
	font-size: 30px;
	margin-bottom: 10px;
	line-height: 34px;
	letter-spacing: 0;
}

.news-card {
	margin-bottom: 25px;
	position: relative;
	border: 1px solid $line-main;
	border-radius: 3px;
}

.news-card__byline {
	margin-bottom: 20px;
}

.news-card__label {
	margin-bottom: 15px;
}

.news-card__img {
	width: 100%;
	max-height: 300px;
	overflow: hidden;

	img {
		width: 100%;
	}
}

.news-card__meta {
	width: 100%;
	padding: 30px 20px 15px 20px;
}

.articles-block {
	margin-bottom: 40px;
}

.articles-block-container {
	background: $vapor;
	border-top: 1px solid $line-main;
	padding-top: 50px;


}

.articles-block__title-container {
	border-bottom: 1px solid $line-main;
	padding-bottom: 5px;
	margin-bottom: 5px;

}

.articles-block__title {
	display: inline-block;
	font-size: 17px;
}

.articles-block__view-all {
	text-align: right;
	float: right;
	font-size: 15px;
}

ul.articles-block-list {
	list-style: none;
	padding: 0;
	margin-top: 0;

	li {
		padding: 10px 0px;
		border-top: 1px solid $line-main;

		&:first-child {
			border: none;
			padding-top: 7px;
		}
	}
}

.articles-block__article {
	
	
}

.articles-block__article-date {
	margin-top: 0px;
}



.news-feed__pagination {
	
	font-family: $sans-serif;
	margin-bottom: 50px;

	@media #{$large-up} {
		margin-bottom: none;
	}

	.page-numbers {
		padding: 5px 9px;
		border: 1px solid $line-main;
		
		&.current {
			background: $white-smoke;
		}

		&:hover {
			background: $white-smoke;
			text-decoration: none;
		}
	}

	.prev, .next {
		border: none;
		background: none;

		&:hover {
			background: none;
			text-decoration: underline;
		}
	}

	.prev {
		margin-right: 11px;
	}

	.next {
		margin-left: 11px;
	}
}

.news-sidebar {
	background: $vapor;
	border-top: 1px solid $line-main;
	padding-top: 40px;

	@media #{$large-up} {
		padding-top: 0px;
		border-top: none;
		background: none;
	}
}

.news-sidebar__content {
	max-width: 750px;
	margin: 0 auto;
}

.news-post__content {
	margin-bottom: 50px;
}

.news-post__thumbnail-container {
	margin: 20px 0px;
	width: 100%;

	img {
		width: 100%;
	}
}

