ul.position-list {
	padding-left: 0px;
}

li.position-list__position {
	color: $jet;
	list-style: none;
	margin: 0px;
	overflow: hidden;
	padding: 20px;

	p {
		font-size: 16px;
	}
}

li.position-list__position:nth-child(odd) {
	background: $vapor;
}

.position__content-left {

	border-bottom: 1px solid $line-main;
	margin-bottom: 20px; 
	padding-bottom: 20px;
	

	@media #{$large-up} {
		border-bottom: none;
        border-right: 1px solid $line-main;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}

.position__title {
	margin-bottom: 10px;
}

.position-detail-link {
	font-size: 16px;
}

.position-detail-application-timeline {
	font-weight: bold;
	margin-bottom: 10px;
}

.position-table__column {

}