/* ==========================================================================
   Footer
   ========================================================================== */

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-content {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
  padding-bottom: 150px;
}
.page-content:after {
  content: "";
  display: block;
}

footer, .page-content:after {
  height: 142px; 

}footer {
  background: orange;
}


footer {
	background: #262A2F;
}
