/* ==========================================================================
   Navigation
   ========================================================================== */

$hover-time: .25s;
$hover-nav-bg: #F7F7F7;

header.nav-bar {
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 100;
	background: none;
	transition: all .25s;


	&:hover, &.nav--not-home {
		background: #EEF1F2;
		color: $black;
		border-bottom: 1px solid $line-main;

		.nav-bar__org-logo a object {
			fill: $black;
		}

		.nav-bar__top-menu {
			border-bottom: 1px solid rgba(230,230,230,1);
		}
		
		.nav-bar__top-menu li a, .nav-bar__main-menu li a {
			color: $black;
		}

		.nav-bar__top-menu-bg {
			background: none;
		}

		.org-logo-path {
			fill: $black;
		}

	}
}

header.nav-bar.nav--not-home {
	position: relative;
}

.nav--global {
	width: 100%;
	height: 10px;
	background: red;
}

.nav-bar__color-bar {
	height: 5px;
	background: $primary-color;
	// background-image: url(dist/assets/images/color-strip.png);
	// background-repeat: repeat-x;
}

.nav-bar__org-logo-container {

}


.nav-bar__org-logo {
	height: 40px;
	width: 290px;
	margin-top: 8px;

	a {
		display: block;
	}
}

.org-logo-path {
	fill: $white;
	transition: fill $hover-time;
}



.nav-bar__top-menu-bg {
	background: rgba(0,0,0,.2);
	overflow: hidden;
	transition: all $hover-time;
}

.nav-bar__top-menu {

	margin: 0px;
	text-align: right;
	border-bottom: 1px solid rgba(230,230,230,0);
	transition: all $hover-time;

	li {
		font-family: $sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1.89px;
		line-height: 15px;
		list-style: none;
		display: inline-block;
		// transition: all $hover-time;

		&:hover {
			background: $hover-nav-bg;
		}

		a {
			color: $white;
			text-decoration: none;
			display: block;
			height: 100%;
			width: 100%;
			padding: 11px 8px 11px 8px;
		}
	}
}



.nav-bar__main-menu {
	margin: 0px;

	text-align: right;

	li {
		font-family: $sans-serif;
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 21px;
		list-style: none;
		display: inline-block;
		// transition: all $hover-time;

		&:hover {
			background: $hover-nav-bg;
		}

		a {
			color: $white;
			text-decoration: none;
			display: block;
			height: 100%;
			width: 100%;
			padding: 20px 18px 17px 18px;
		}
	}
}



.nav-bar__top-menu li a, .nav-bar__main-menu li a {
	// transition: all $hover-time;
}




//Sub Menus

.top-menu__sub-menu {
	display: none;
	background: $hover-nav-bg;
	position: absolute;
	left: 0;
	right: 0;
}

#menu-item-114:hover {
	
}



















