/* ==========================================================================
   Resources Page Template
   ========================================================================== */

body.home {}

.hero {
	width: 100%; 
	background-color: #ddd;
}

.hero__featured-image {
	width: 50%;
} 