/* ==========================================================================
   Legal Services Template
   ========================================================================== */

.sidebar-nav {
	background: $vapor;
	margin-right: 20px;
	padding: 25px 25px;
}

.heading--legal-services {
	margin-bottom: 15px;
}

.intro-block {
	margin-bottom: 50px;
}

.service-summary {
	margin-bottom: 50px;
}

.child-summary {
	margin-bottom: 50px;
}

.child__description {
	margin-bottom: 20px;
}

