/* ==========================================================================
   Resources Page Template
   ========================================================================== */

body.home {}

.hero {
	width: 100%; 
	background-color: #ddd;
}

.hero__image-overlay{
	background: #000;
	height: 500px;
	opacity: .2;
	width: 100%;
}

.hero__featured-image {
	width: 50%;
} 

.hero-block {
	width: 100%;
	height: 350px;

	.hero-block__banner {
		height: 100%;
		.banner__img {
			height: 100%;
			background-size: 100%;
		}
	}
}