/* ==========================================================================
   Left Sidebar Template
   ========================================================================== */

.sidebar-nav {

	@media #{$small-only}{
		background: #f6f6f6;
		border: 1px solid $line-main;
		border-radius: 4px;
		margin-bottom: 50px;
		max-width: none;
		padding: 20px;
	}
	padding-right: 30px;
	max-width: 270px;
	text-transform: uppercase;
	font-family: $sans-serif-condensed;

	div {
		ul {
			padding: 0px;
			margin: 0px;
			li {
				list-style: none;
				padding: 9.8px 0px;
				font-size: 14px;
				border-top: 1px solid $line-main;

				a {
					
					text-decoration: none;
					color: $aluminum;
					

					&:hover {
						
						color: $primary-color;
					}
				}

				&.current_page_item {
					font-weight: bold;
					a {
						color: $primary-color;
					}
					// text-decoration: underline;
				}

			}
		}
	} //end div

	// For hiding sub menus in sidebars except when viewing the parent or child page
	.menu-item {
		.sub-menu {
			display: none;
		}

	}

	.current_page_item.menu-item-has-children, .current_page_parent {
		.sub-menu {
			display: block;

			li {
				border-top: none;
				padding-left: 20px;

				a {
					color: $phasma;

					&:hover {
						color: $primary-color;
					}
				}

				&.current_page_item {
					a {
						color: $primary-color;
					}
				}
			}
		}
	}//end .current_page_item.menu-item-has-children
}

.sidebar-nav__title {
	font-family: $sans-serif-display;
	font-weight: normal;
	font-size:26px;
	margin-bottom: 10px;
}


.heading--sidebar-parent {
	margin-bottom: 5px;
}

.child-summary {
	margin: 50px 0px;
}

.child__description {
	margin-bottom: 20px;
}
