/* ==========================================================================
   Type
   ========================================================================== */

// We use these to define default font stacks
$sans-serif-display: 'Playfair Display SC', serif;
$sans-serif: 'Lato', sans-serif;
$serif: "Lora", Georgia, Cambria, "Times New Roman", Times, serif !default;
$monospace: Consolas, "Liberation Mono", Courier, monospace !default;

//We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;


h1 { 
}
h2 { 
}
h3 { }
h4 { }

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $sans-serif;
	margin: 0;
}



a, 
a:visited {
	text-decoration: none;
	color: $primary-color;
	&:hover {
		color: $primary-color;
		text-decoration: underline;
	}
}

ul, ol {
	// font-family: $sans-serif;
	color: #7A818D;
	font-size: 20px;
	// font-style: italic;
	font-weight: 200;
	a {

	}
}

//h1 = heading jumbo
//h2 = heading large
//h3 = heading medium
//h4 = heading small
//h5 = heading micro

.heading--large {
	font-weight: 300;
	font-size: 38px;
	color: $jet;
	letter-spacing: 0.2px;
	line-height: 44px;
}

.heading--medium {
	font-weight: 300;
	font-size: 26px;
	color: $jet;
	letter-spacing: 0.2px;
	line-height: 30px;
}

.heading--bold {
	font-weight: 600;

}

.heading--small {
	font-weight: 400;
	font-size: 22px;
	color: $jet;
	letter-spacing: 0.15px;
	line-height: 26px;
}

.heading--sub-gray {
	color: #A0AAAD;
}
.heading--micro {
	font-weight: bold;
	font-size: 14px;
	color: $primary-color;
	letter-spacing: 2.21px;
	line-height: 17px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.text--centered {
	text-align: center;
}

p {
	font-family: $sans-serif;
	font-size: 20px;
	margin-bottom: 1.5em;
	margin-top: .625em;
}

.p--standard {
	
}

.text--sans {
	font-family: $sans-serif;
}



a.text-link--underline {

}

a.text-link--black {
	color: $black;
}

a.text-link--primary {
	color: $primary-color;
	font-family: $sans-serif;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}
