/* ==========================================================================
   Type
   ========================================================================== */

// We use these to define default font stacks


@font-face {
    font-family: 'league_gothicregular';
    src: url('type/league_gothic-webfont.eot');
    src: url('type/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/league_gothic-webfont.woff2') format('woff2'),
         url('type/league_gothic-webfont.woff') format('woff'),
         url('type/league_gothic-webfont.ttf') format('truetype'),
         url('type/league_gothic-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





$sans-serif-display: 'league_gothicregular', sans-serif;
$sans-serif-condensed: 'Roboto Condensed', sans-serif;
$sans-serif: 'Roboto', sans-serif;

$serif:  Georgia, Cambria, "Times New Roman", Times, serif !default;
$monospace: Consolas, "Liberation Mono", Courier, monospace !default;

//We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;










body {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1 { 
	clear: both;
	font-family: $sans-serif-display;
	text-shadow: 2px 2px 0px rgba(0,0,0,.1);
	margin: 0;
	text-transform: uppercase;
	font-weight: 300;
}
h2 { 
}
h3 { }
h4 { }

h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $sans-serif-condensed;
	margin: 0;
	font-weight: bold;
}



a, 
a:visited {
	text-decoration: none;
	color: $primary-color;
	transition: all .2s;
	&:hover {
		color: $primary-color;
		text-decoration: underline;
	}
}

ul, ol {
	// font-family: $sans-serif;
	color: #7A818D;
	font-size: 20px;
	// font-style: italic;
	font-weight: 200;
	a {

	}
}

//h1 = heading jumbo
//h2 = heading large
//h3 = heading medium
//h4 = heading small
//h5 = heading micro


.heading {
	font-family: $sans-serif;
}

.heading--condensed {
	font-family: $sans-serif-condensed;
}

.heading--large {
	font-weight: 300;
	font-size: 44px;
	color: $jet;
	letter-spacing: 0.2px;
	line-height: 48px;
}

.heading--medium {
	@extend .heading;
	font-weight: 300;
	font-size: 26px;
	color: $jet;
	letter-spacing: 0.2px;
	line-height: 30px;
}

.heading--bold {
	font-weight: 600;

}

.heading--small {
	@extend .heading;
	font-weight: 400;
	font-size: 22px;
	color: $jet;
	letter-spacing: 0.15px;
	line-height: 26px;
}

.heading--extra-small {
	@extend .heading;
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
}

.heading--sub-gray {
	color: #A0AAAD;
}
.heading--micro {
	font-weight: normal;
	font-size: 14px;
	color: $phasma;
	// letter-spacing: 2.21px;
	font-family: $sans-serif-condensed;
	line-height: 17px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.heading--centered {
	text-align: center;
	position: relative;
	margin-bottom: 20px;

	span {
		background: $body-bg;
		z-index: 100;
		padding: 0 15px;
	}

	&:before {
		content: "";
		position: absolute;
		height: 5px;
		border-bottom: 1px solid $line-main;
		border-top: 1px solid $line-main;
		top: 19px;
		width: 100%;
		left: 0;
		z-index: -1;
	}
}

.text--centered {
	text-align: center;
}

p, .paragraph--standard, .paragraph--standard ul {
	font-family: $serif;
	font-size: 16px;
	color: $pebble;
	margin-bottom: 25px;
	margin-top: .625em;
	letter-spacing: .1px;
	line-height: 25px;
}

.p--standard {
	
}

.text--sans {
	font-family: $sans-serif;
}



a.text-link--underline {

}

a.text-link--black {
	color: $black;

	&:hover {
		color: $black;
	}
}


a.text-link--primary {
	color: $primary-color;
	font-family: $sans-serif;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}
